# .NET Core
bin/
obj/
*.user
*.pdb
*.dll
*.exe

# Visual Studio
.vs/
*.sln.iml

# Playwright
playwright-report/
test-results/
playwright/.cache/

# Misc
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/
.allure/

# Node
node_modules/
package-lock.json